<script charset='UTF-8' src="https://cdn.jsdelivr.net/npm/sa-sdk-javascript@1.15.16/sensorsdata.min.js"></script>
<script>
  var MySDK = window['sensorsDataAnalytic201505'];
  MySDK.init({
    server_url: 'http://track.fc.umer.im/track/sa?project=yblog',
    preset_properties: {
      latest_referrer_host: true,
      latest_landing_page: true,
      url: true,
      title: true,
    },
    heatmap: {
      clickmap: 'default',
      scroll_notice_map: 'default',
      collect_tags: { div: true },
    },
  });
  MySDK.quick('autoTrack');
</script>