</div>
	<hr>
	<!-- Footer -->
	<footer>
		<div class="row">
			<div class="col-lg-12">
				<p>
					Copyright 2008-2015 &copy; Yourtion's Blog <a class="github-button" href="https://github.com/yourtion/yourtion.github.io" data-icon="octicon-star" aria-label="Star yourtion/yourtion.github.io on GitHub">Give me a Star</a>
				</p>
			</div>
			<!-- /.col-lg-12 -->
		</div>
		<!-- /.row -->
	</footer>

</div>
<!-- /.container -->
<!-- Bootstrap Core JavaScript -->
<script src="{{ ASSET_PATH }}js/bootstrap.min.js"></script>
<script async defer id="github-bjs" src="https://buttons.github.io/buttons.js"></script>
{% if site.JB.comments.provider == 'duoshuo' %}
  {% assign duoshuo = 'jsonly' %}
  {% include JB/comments-providers/duoshuo.html %}
{% endif %}
{% assign recommend = 'load' %}
{% include JB/widget-providers/recommend.html %}