			<div style="height:30px"></div>
			<footer>
				<p class="col-lg-6 col-md-6 col-sm-12 col-xs-12 templatemo-copyright">Copyright &copy; 2015 by Yourtion</p>
				<p class="col-lg-6 col-md-6 col-sm-12 col-xs-12 templatemo-social">
				<a href="#"><i class="fa fa-facebook fa-medium"></i></a>
				<a href="#"><i class="fa fa-twitter fa-medium"></i></a>
				<a href="#"><i class="fa fa-google-plus fa-medium"></i></a>
				<a href="#"><i class="fa fa-youtube fa-medium"></i></a>
				<a href="#"><i class="fa fa-linkedin fa-medium"></i></a>
				</p>
			</footer>
		</div>
	</div>
	<!-- right section -->
</div>
<script src="{{ ASSET_PATH }}js/highlight.pack.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
  {% include JB/analytics %}
