<div class="templatemo-logo visible-xs-block">
	<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 black-bg logo-left-container">
		<h1 class="logo-left">{{ site.title }}</h1>
	</div>
	<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 white-bg logo-right-container">
		<h1 class="logo-right">{{ site.subtitle }}</h1>
	</div>
</div>
<div class="templatemo-container">
	<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 black-bg left-container">
		<h1 class="logo-left hidden-xs margin-bottom-60">{{ site.title }}</h1>
		<div class="tm-left-inner-container">
			<ul class="nav nav-stacked templatemo-nav">
				<li><a href="{{ HOME_PATH }}"><i class="fa fa-home fa-medium"></i>首页</a></li>
				<li><a href="{{ site.JB.categories_path }}"><i class="fa fa-archive fa-medium"></i>分类</a></li>
				<li><a href="{{ site.JB.tags_path }}"><i class="fa fa-tags fa-medium"></i>标签</a></li>
				<li><a href="{{ site.JB.messages_path }}"><i class="fa fa-comments-o fa-medium"></i>留言板</a></li>
				<li><a href="{{ site.JB.about_path }}"><i class="fa fa-user fa-medium"></i>关于我</a></li>
				<li><a href="{{ site.JB.rss_path }}"><i class="fa fa-rss fa-medium"></i>订阅 RSS</a></li>
			</ul>
		</div>
	</div>
  <!-- left section -->
	<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 white-bg right-container">
		<h1 class="logo-right hidden-xs margin-bottom-60">{{ site.subtitle }}</h1>
		<div class="tm-right-inner-container">
