<head>
	<meta charset="utf-8">
	<title>{% if page.title %}{{page.title}} - {{site.title}}{% else %}{{site.title}} - {{ site.subtitle }}{% endif %}</title>
   {% include head_meta.html %}
    <meta name="description" content="{{ page.description }}">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta property="og:image" content="">
	<link href="{{ site.url }}/{{ site.feed.path }}" type="application/atom+xml" rel="alternate" title="ATOM Feed" />
	<link rel="shortcut icon" href="{{ "/assets/img/favicon/favicon.ico" | prepend: site.baseurl }}" type="image/x-icon">
	<link rel="apple-touch-icon" href="{{ "/assets/img/favicon/apple-touch-icon.png" | prepend: site.baseurl }}">
	<link rel="apple-touch-icon" sizes="72x72" href="{{ "/assets/img/favicon/apple-touch-icon-72x72.png" | prepend: site.baseurl }}">
	<link rel="apple-touch-icon" sizes="144x144" href="{{ "/assets/img/favicon/apple-touch-icon-144x144.png" | prepend: site.baseurl }}">
	<!-- Chrome, Firefox OS and Opera -->
	<meta name="theme-color" content="#263959">
	<!-- Windows Phone -->
	<meta name="msapplication-navbutton-color" content="#263959">
	<!-- iOS Safari -->
	<meta name="apple-mobile-web-app-status-bar-style" content="#263959">
	<!-- iconfont https://www.iconfont.cn/manage/index?manage_type=myprojects&projectId=2330491 -->
	<link rel="stylesheet" href="//at.alicdn.com/t/font_2330491_fggg60ukeri.css">
	<!-- Styles -->
	<link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
</head>
