<!-- Blog Sidebar Widgets Column -->
<div class="col-md-4">
    <!-- Blog Search Well -->
    <div class="well">
        <div class="input-group">
            <input type="text" class="form-control">
            <span class="input-group-btn">
                <button class="btn btn-default" type="button">
                    <span class="glyphicon glyphicon-search"></span>
            </button>
            </span>
        </div>
        <!-- /.input-group -->
    </div>
    <!-- Side Widget Well -->
    <div class="well">
        <h4>欢迎来到郭宇翔的博客</h4>
        <p>打酱油专业户，喜欢各种折腾！</p>
        <!-- Place this tag where you want the button to render. -->
        <a class="github-button" href="https://github.com/yourtion" data-style="mega" data-count-href="/yourtion/followers" data-count-api="/users/yourtion#followers" data-count-aria-label="# followers on GitHub" aria-label="Follow @yourtion on GitHub">Follow @yourtion</a>
    </div>
{% if site.JB.comments.provider == 'duoshuo' %}
{% include JB/widget-providers/duoshuo_recent_comments.html %}
{% endif %}
{% include JB/widget-providers/recommend.html %}
</div>
