.inline {
	list-style: none;
	margin: 0;
	overflow: hidden;
}
.inline li {
	float: left;
	position: relative;
	margin-left: 10px;
	line-height: 30px;
	margin-bottom: 5px;
}
.templatemo-item ul li {
	line-height: 180%;
}
.tag-box {
	padding: 10px;
}
.tag-box a {
	padding: 4px 6px;
	margin: 2px;
	background: #eee;
	color: #555;
	border-radius: 3px;
	text-decoration: none;
	border: 1px dashed #cccccc;
}
.tag-box a span {
	vertical-align: super;
	font-size: .8em;
}
.tag-list li {
	list-style: inherit !important;
	line-height: 180%;
}
.container p img{
	max-width: 90%;
}
blockquote {
  font-size: 14px;
  color: #777;
}
#page-content p {
	overflow: hidden;
	line-height: 170%;
	margin: 0 0 15px;
	word-break: break-all;
}
#page-content blockquote p {
	margin-bottom: 0;
}
#page-content li {
	word-break: break-all;
}
#page-content ol li {
	line-height: 200%;
}
#page-content ul li {
	line-height: 150%;
}
#page-content h2, 
#page-content h3, 
#page-content h4 {
  margin-top: 1.6em;
  margin-bottom: 1em;
}
#page-content h2{font-size:26px}
#page-content h3{font-size:20px}
#page-content h4{font-size:16px}
#page-content p.source {margin-top: 20px}
@media (max-width: 768px)
{
	.h1,h1{font-size:20px}
	.h2,h2{font-size:18px}
	.h3,h3{font-size:16px}
	.h4,h4{font-size:14px}
	.h5,h5{font-size:12px}
	.h6,h6{font-size:10px}
	.lead{font-size:14px;}
}
.tagcloud a {
  display: inline-block;
  text-decoration: none;
  font-weight: normal;
  font-size: 10px;
  color: #fff;
  height: 18px;
  line-height: 18px;
  float: left;
  padding: 0 5px 0px 10px;
  position: relative;
  -webkit-border-radius: 0 5px 5px 0;
  border-radius: 0 5px 5px 0;
  margin: 5px 9px 5px 8px;
  font-family: Menlo, Monaco, "Andale Mono", "lucida console", "Courier New", monospace;
}
.tagcloud a:hover {
  opacity: 0.8;
}
.tagcloud a:before {
  content: " ";
  width: 0px;
  height: 0px;
  position: absolute;
  top: 0;
  left: -18px;
  border: 9px solid transparent;
}
.tagcloud a:after {
  content: " ";
  width: 4px;
  height: 4px;
  background-color: #fff;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0px 0px 0px 1px rgba(0,0,0,0.3);
  box-shadow: 0px 0px 0px 1px rgba(0,0,0,0.3);
  position: absolute;
  top: 7px;
  left: 2px;
}
.tagcloud a.color1 {
  background: #ff945c;
}
.tagcloud a.color1:before {
  border-right-color: #ff945c;
}
.tagcloud a.color2 {
  background: #f5c7b7;
}
.tagcloud a.color2:before {
  border-right-color: #f5c7b7;
}
.tagcloud a.color3 {
  background: #ba8f6c;
}
.tagcloud a.color3:before {
  border-right-color: #ba8f6c;
}
.tagcloud a.color4 {
  background: #cfb7c4;
}
.tagcloud a.color4:before {
  border-right-color: #cfb7c4;
}
.tagcloud a.color5 {
  background: #7b5d5f;
}
.tagcloud a.color5:before {
  border-right-color: #7b5d5f;
}
.tagcloud a:hover {
  background-color: #9c9;
  border-color: #9c9;
}
.tagcloud a:hover::before {
  border-right-color: #9c9;
}

