.inline {
	list-style: none;
	margin: 0;
	overflow: hidden;
}
.inline li {
	float: left;
	position: relative;
	margin-left: 10px;
	line-height: 30px;
}
.templatemo-item ul li {
	line-height: 180%;
}
.tag-box {
	padding: 10px;
}
.tag-box a {
	padding: 4px 6px;
	margin: 2px;
	background: #eee;
	color: #555;
	border-radius: 3px;
	text-decoration: none;
	border: 1px dashed #cccccc;
}
.tag-box a span {
	vertical-align: super;
	font-size: .8em;
}
.tag-list li {
	list-style: inherit !important;
	line-height: 180%;
}
.container p {
	overflow: hidden;
}
.container p img{
	max-width: 90%;
}
@media (max-width: 768px)
{
	.h1,h1{font-size:20px}
	.h2,h2{font-size:18px}
	.h3,h3{font-size:16px}
	.h4,h4{font-size:14px}
	.h5,h5{font-size:12px}
	.h6,h6{font-size:10px}
	.lead{font-size:14px;}
}
