{% if site.JB.comments.provider == 'duoshuo' %}
  {% assign duoshuo = 'jsonly' %}
    {% include JB/comments-providers/duoshuo.html %}
  {% endif %}
  {% assign recommend = 'load' %}
  {% include JB/widget-providers/recommend.html %}
<script src="{{ ASSET_PATH }}js/highlight.pack.js" onload="hljs.initHighlightingOnLoad();" async></script>
<script>
var domain_root = document.location.protocol+'//'+document.location.host;
var cdn_url = "{{ site.cdn_url }}";
var all_links = $('#page-content a').each(function(index,element){
  if(element.href.substr(0,domain_root.length) !== domain_root) {
    element.target = '_blank';
  }
  if(element.href.substr(0,cdn_url.length) === cdn_url || element.href.substr(0, domain_root.length + 8) === domain_root + "/images/"){
    if(element.firstChild.tagName === "IMG"){
      var name = element.firstChild.alt || "";
        $(element).attr("data-lightbox","image"+index);
        $(element).attr("data-title",name);
      }
    }
});
$('table').addClass( "table table-hover" );
</script>
<link href="{{ ASSET_PATH }}css/lightbox.css" rel="stylesheet" type="text/css">
<script src="{{ ASSET_PATH }}js/lightbox.min.js"></script>