<script type="text/javascript">
var $root = $('html, body');
$(window).load(function() {
  var url = window.location.toString();
  var id = url.split("#")[1];
  if (id) {
    $root.animate({
      scrollTop: $('[id="'+id+'"]').offset().top - 100
    }, 500);
    return false;
  }
});
$('.tag-box li a').click(function() {
  var href = $.attr(this, 'href');
  var id = href.split("#")[1];
  $root.animate({
    scrollTop: $('[id="'+id+'"]').offset().top - 100
  }, 800, function() {
    window.location.hash = href;
  });
  return false;
});
</script>
