<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
 <!--{{ page.type }}-->
    {% include header.html %}
        {{ content }}
    {% include widgets.html %}
    {% include footer.html %}
  </body>
  <script src="{{ ASSET_PATH }}js/jquery.js"></script>
  <!-- Bootstrap Core JavaScript -->
  <script src="{{ ASSET_PATH }}js/bootstrap.min.js"></script>
  {% if site.JB.comments.provider == 'duoshuo' %}
    {% assign duoshuo = 'jsonly' %}
    {% include JB/comments-providers/duoshuo.html %}
  {% endif %}
  {% assign recommend = 'load' %}
  {% include JB/widget-providers/recommend.html %}

  {% if page.type == "tag" %}
    {% include part/tag.html %}
  {% endif %}

  {% if page.slug %}
    {% include part/post.html %}
  {% endif %}

  {% include JB/analytics %}
</html>
