<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    {% include header.html %}
        {{ content }}
    {% include widgets.html %}
    {% include footer.html %}
  </body>
  <script src="{{ ASSET_PATH }}js/jquery.js"></script>
  <!-- Bootstrap Core JavaScript -->
  <script src="{{ ASSET_PATH }}js/bootstrap.min.js"></script>
  {% if site.JB.comments.provider == 'duoshuo' %}
    {% assign duoshuo = 'jsonly' %}
    {% include JB/comments-providers/duoshuo.html %}
  {% endif %}
  {% assign recommend = 'load' %}
  {% include JB/widget-providers/recommend.html %}

  {% case page.type %}
  {% when "tag" %}
    {% include part/tag.html %}
  {% endcase %}

  {% include JB/analytics %}
</html>
