---
layout: default
---
{% include JB/setup %}
<div class="col-md-8">
  <h1 class="page-header">
    {{ page.title }}
    <small>{% if page.meta %} • {{ page.meta }}{% endif %}</small>
  </h1>
  <p  class="row">
    <span class="col-md-2 col-xs-6">
      <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
      <a href="/categories.html#{{ post.categories[0] }}-ref">{{ page.categories[0] }}</a>
    </span>
    <span class="col-md-2 col-xs-6">
      <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
      <a href="/tags.html#{{ post.tags[0] }}-ref">{{ page.tags[0] }}</a>
    </span>
    <span class="col-md-3 col-xs-6"><span class="glyphicon glyphicon-time" aria-hidden="true"></span> {{ page.date | date: "%B %d %Y" }}</span>
  </p>
  <hr>
  {{ content }}
  <p>原文链接：<a href="{{ site.production_url }}{{ page.url }}">{{ site.production_url }}{{ page.url }}</a></p>
  <hr>
  {% include JB/comments %}
</div>
<script src="{{ ASSET_PATH }}js/highlight.pack.js"></script>
<script>
hljs.initHighlightingOnLoad();
var domain_root = document.location.protocol+'//'+document.location.host;
var all_links = $('a').each(function(index,element){
  if(element.href.substr(0,domain_root.length) !== domain_root)
  {
    element.target = '_blank';
  }
});
$('table').addClass( "table table-hover" );
</script>
